NODE_ENV=development
PORT=3000
API_PREFIX=api
CORS_ORIGIN=*
GRAPHQL_PATH=/graphql
GRAPHQL_INTROSPECTION=true
GRAPHQL_LANDING_PAGE=true
GRAPHQL_CSRF_PREVENTION=true

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=ntfpref
DATABASE_PASSWORD=ntfpref
DATABASE_NAME=ntfpref
DATABASE_SSL=false
DATABASE_SYNCHRONIZE=false
DATABASE_MIGRATIONS_RUN=false
DATABASE_LOGGING=true
